.runbookTOC {
  nav#TableOfContents{
    margin-top: -1em;
    margin-bottom: -1em;

    &:last-child{
      margin-bottom: 1em;
    }
  }
}

.runbook-page-title:before{
  content:"\2022";
  font-size: 1rem;
  position: relative;
  left: -.5rem;
  a{
    position: relative;
    left: -.5rem;
  }
}

nav#TableOfContents{
  >ul{
    margin-bottom: .75rem;
  }
}